@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
:root{
    --mint-green: rgb(177, 255, 254);
    --roxo: rgb(175, 27, 233);
    --indigo-dye: rgb(81, 188, 255);
    --cinza: rgb(146, 149, 151);
    --picton-blue: rgb(189, 175, 252);
    --preto: #000000;
    --fonte-primaria: "Bebas Neue", sans-serif;
    --fonte-secundaria: "Source Sans 3", sans-serif;
}
body{
    background-color: var(--fonte-primaria);
    color: var(--roxo);
    display: flex;
    justify-items: center;
    align-items: center;
    min-width: 100vh;
    font-family: var(--fonte-texto);
}

.caixaprincipal{
    background-color: var(--picton-blue);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

.titulo{
    color: var(--mint-green);
    font-family: var(--indigo-dye);
}