@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
:root{
    --vermelho:rgb(100, 144, 202);
    --azul: rgb(0, 0, 0);
    --preto: rgb(8, 12, 19);
    --azulfraco: rgb(16, 14, 114);
    --fonte-primaria: "Exile", system-ui;
    --fonte-secundaria: "DM Sans", sans-serif;
}
body{
    background-color: var(--preto);
    color: var(--preto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--fonte-secundaria);
}
.caixa-principal{
    background-color: var(--vermelho);
    width: 90%;
    text-align: center;
    padding: 20px;
}
.titulo{
    font-family: var(--fonte-primaria);
}
